.home {
    width: 100%;
}

main {
    /*  overflow: hidden; */
}

.mainBanner {
    /*     width: 100%;
    min-width: 100vw;
    background-image: url('/public/images/mainBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /*   width: 100%;
    height: 100vh;
    min-height: 320px;
    max-height: 900px;
    background-image: url('/public/images/mainBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: height 0.3s; */

    width: 100%;
    aspect-ratio: 16 / 9;
    /* 원하는 비율로 조정 */
    min-height: 220px;
    max-height: 100vh;
    height: 60vw;
    /* 화면 너비에 따라 높이를 조정 */
    background-image: url('/public/images/mainBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.home section {
    padding-block: var(--wep-sec-pad);
    width: 100%;
}

.home h2 {

    margin-bottom: var(--wep-tit-pad);
    text-align: left;
    margin-left: 15vw;
}

.memberProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.memberProfile h2 {
    align-self: flex-start;
}

.profileList {
    display: flex;
    gap: 20px;
}

.profileCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    justify-content: center;
}

.profileImg {
    width: 100%;
    height: 23vh;
    background-image: url('/public/images/profileFrame.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profileImg>img {
    width: 90%;
    object-fit: cover;
}

.sticker {
    position: absolute;
}

.doa .sticker {
    width: 40px;
    height: 40px;
    left: 2%;
    top: -5%;
}

.arin .sticker {
    width: auto;
    height: 70px;
    bottom: -20%;
    right: -10%;
}

.sei .sticker {
    width: 30px;
    height: auto;
    bottom: -8%;
    right: -5%;
}

.luha .sticker {
    width: 45px;
    height: auto;
    top: -5%;
    left: -8%;
}

.profileName {
    color: var(--font-color-3);
    padding-left: 10px;
}

.schedule {
    position: relative;
}

.scheduleTitle {
    position: relative;

}

.scheduleBg {
    width: 100%;
    height: 100%;
    background-image: url('/public/images/scheduleBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}


.blurOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    /* background: rgba(0, 0, 0, 0.25); */
    z-index: 2;
    pointer-events: none;
}

.blurOverlay span {
    color: var(--font-color-3);
    font-size: 24px;
    margin-top: 12%;
}

.profileModalOverlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.profileModal {
    background: #fff;
    width: 700px;
    height: 680px;
    padding: 50px;
    border-radius: 30px;
    position: relative;
}

.profileModalTop {
    width: 100%;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    padding-block: 20px;
}

.profileModalName {
    color: var(--main-color);
    line-height: 150%;
}

.profileModalTop img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profileModalDesc {
    line-height: normal;
}

.profileModalInfo {
    color: var(--font-color-7);
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-top: 20px;
    gap: 10px 0;
    border-top: 2px solid var(--main-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 144%;
}

.profileModalInfo div {
    display: flex;
    gap: 15px;
    width: 50%;
    align-items: center;
}

.profileModalInfo span {
    color: var(--font-color-3);
    font-size: 16px;
    font-weight: 600;
}

.closeBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 20px;
    height: 20px;
    background-image: url('/public/images/icon/close.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* 메인오피셜 */

/* Swiper에서 활성화된(가운데) 슬라이드에 효과 app.css에서 진행 */

.mainOfficialCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.mainOfficialCard {
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px;
}

.mainOfficialContent {
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainOfficialContent h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;

}

.mainOfficialContent p {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.mainOfficialSwiperWrapper {
    position: relative;
    width: 62%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.mainOfficialSwiper {
    width: 1024px;
    height: 350px;
    position: relative;
    /* padding-bottom: 60px; */
    /* 페이지네이션 공간 확보 */
}

.mainOfficialPrev,
.mainOfficialNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

.mainOfficialPrev {
    left: 0px;
    background-image: url('/public/images/icon/mainPageLe.png');
}

.mainOfficialNext {
    right: 0;
    background-image: url('/public/images/icon/mainPageRi.png');
}

.mainOfficialPagination {
    position: absolute;
    left: 50% !important;
    bottom: 0px !important;
    transform: translateX(-50%) !important;
    display: flex !important;
    gap: 10px !important;
    z-index: 10 !important;
    width: max-content !important;
}

.mainOfficialBullet {
    width: 10px !important;
    height: 10px !important;
    background: var(--font-color-light_gary) !important;
    border-radius: 50% !important;
    opacity: 1 !important;
    margin: 0px !important;
    transition: background 0.2s !important;
}

.mainOfficialBulletActive {
    width: 25px !important;
    border-radius: 20px !important;
    background: var(--sub-color-blue) !important;
    opacity: 1 !important;
}

.mainOfficialMore {
    flex: 0 0 auto;
    width: auto;
    flex-basis: auto;
}

@media (max-width: 1620px) {
    .home h2 {
        margin-left: 8vw;
    }
}

@media (max-width: 1440px) {
    .home h2 {
        margin-left: 4vw;
    }
}



@media (max-width: 1024px) {

    /*     .mainBanner {
        height: 100vw;
        width: 100%;
        background-image: url('/public/images/mainbanner_tap.png');
        background-size: contain;
        background-position: top center;
    } */
    .mainBanner {
        height: 100vw;
        min-height: 220px;
        max-height: 1500px;
        background-image: url('/public/images/mainbanner_tap.png');
        background-size: cover;
        background-position: top center;
    }


    .home h2 {
        margin-left: 3vw;
    }

    .memberProfile {
        padding: 100px 0;
    }

    .profileImg {
        height: 17vh;
    }

    .profileImg img {
        width: 85%;
    }

    .arin .sticker {
        width: auto;
        height: 50px;
        bottom: -10%;
        right: -10%;
    }

    .profileCard {
        gap: 15px;
    }

    .mainOfficialCon {
        padding-inline: 20px;
    }

    .mainOfficialSwiperWrapper {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .mainOfficialSwiper {
        width: 90vw;
        height: 250px;
    }


    .mainOfficialPrev,
    .mainOfficialNext {
        width: 30px;
        height: 30px;
    }

    .mainOfficialContent h3 {
        line-height: 120%;
        margin-bottom: 5px;
    }
    .blurOverlay span {
        margin-top: 20%;
    }
}

@media (max-width: 900px) {
    .profileModal {
        width: 70vw;
        height: 68vw;
        padding: 4.5vw;
    }

    .profileModalName {
        font-size: 30px;

    }

    .profileModalTop {
        padding-block: 10px;
    }

    .profileModalInfo {
        padding-left: 2.7vw;
        padding-top: 2vw;
        /* gap: 1.8vw 0; */
    }

    .profileModalInfo div {
        gap: 1vw;
    }

    .closeBtn {
        top: 4.5vw;
        right: 4.5vw;
    }

    .mainOfficialSwiper {
        width: 85vw;
    }

    .mainOfficialContent h3 {
        font-size: 24px;
        margin-bottom: 8px;

    }

    .mainOfficialContent p {
        font-size: 17px;
    }
}

@media (max-width:950px) {
    .profileImg {
        height: 14vh;
    }
}

@media (max-width:900px) and(min-width:830px) {
    .profileImg {
        height: 15vh;
    }
}

@media (max-width:768px) {


    .memberProfile {
        padding: 50px 0;
    }

    .profileImg {
        height: 17vh;
    }

    .profileModalInfo {
        font-size: 17px;
        justify-content: space-between;
        line-height: 120%;
    }

    .profileModalInfo div {
        width: 45%;
    }

    .mainOfficialContent h3 {
        font-size: 22px;
        margin-bottom: 8px;

    }

    .mainOfficialContent p {
        font-size: 16px;
    }
}

@media (max-width:767px) {
    .mainBanner {
        height: 100vw;
        min-height: 220px;
        max-height: 1500px;
        background-image: url('/public/images/mainvisual_mo.png');
    }

    .memberProfile {
        padding: 50px 0;
    }

    .profileList {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        /* gap 제거 */
    }

    .profileCard {
        width: calc(50% - 8px);
        /* 카드 사이에 16px 간격을 주고 싶으면 -8px */
        min-width: 140px;
        max-width: 100%;
        flex: none;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .profileImg {
        height: 20vh;
    }

    .home h2 {
        margin-left: 4vw;
    }

    .profileModalOverlay {
        background-color: transparent;
    }

    .profileModal {
        width: 100%;
        height: 100%;
        border-radius: 0;
        /* display: flex;
        flex-direction: column;
        gap: 10vh; */
    }

    .profileModalTop {
        /* gap: 5vh; */
        padding-block: 3vh;
        gap: 3vh;
    }

    .profileModalDesc {
        /* font-size: 20px; */
    }



    .profileModalInfo {
        padding-left: 10vw;
        padding-top: 4vh;
        gap: 2vh 0;
        font-size: 18px;
        line-height: 140%;
    }

    .profileModalInfo div {
        width: 100%;
        gap: 4vw;
        /* flex-direction: column; */
    }

    .profileModalName {
        margin-top: 10vh;
    }

    .profileModalInfo div {
        width: 100%;
        /* font-size: ; */
    }

    .profileModalInfo span {
        font-size: 17px;
    }

    .mainOfficialSwiperWrapper {
        width: 90%;
    }

    .mainOfficialSwiper {
        width: 90%;
        height: 350px;
    }

    .mainOfficialPrev,
    .mainOfficialNext {
        display: none;
    }

    .mainOfficialContent h3 {
        font-size: 20px;
        margin-bottom: 8px;
        line-height: 1;
    }

    .mainOfficialContent p {
        font-size: 16px;

    }
}

@media (max-width:600px) {
    .mainBanner {
        height: 100vh;
        min-height: 500px;
        width: 100%;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
    }


    .profileCard {
        gap: 10px;
    }

    .home h2 {

        margin-bottom: var(--mobile-tit-pad);
    }
}

@media (max-width:530px) {
    /*     .mainBanner {
        height: 80vh;
        width: 100%;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: contain;
    } */

    /*     .mainBanner {
        height: 50vw;
        min-height: 160px;
        max-height: 400px;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
        background-position: top center;
    } */

    .mainBanner {
        height: 100vh;
        min-height: 500px;
        width: 100%;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
    }

    .blurOverlay span {
        font-size: 18px;
        margin-top: 35%;
    }

}

@media (max-width: 402px) {

    /*     .mainBanner {
        height: 95vh;
        width: 100%;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
    } */
    /*     .mainBanner {
        height: 40vw;
        min-height: 120px;
        max-height: 300px;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
        background-position: top center;
    } */

    .profileImg {
        height: 25vh;
    }
}

@media (max-width: 375px) {
    .mainOfficialSwiper {
        width: 88%;
        height: 300px;
    }
}

@media (max-width: 360px) {
    .mainOfficialContent h3 {
        font-size: 19px;
        margin-bottom: 5px;
    }

}