.home {
    width: 100%;
    /* overflow: hidden; */
}

main {
    /*  overflow: hidden; */
}

.mainBanner {
    /*     width: 100%;
    min-width: 100vw;
    background-image: url('/public/images/mainBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /*   width: 100%;
    height: 100vh;
    min-height: 320px;
    max-height: 900px;
    background-image: url('/public/images/mainBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    transition: height 0.3s; */

    width: 100%;
    aspect-ratio: 16 / 9;
    /* 원하는 비율로 조정 */
    min-height: 220px;
    max-height: 100vh;
    height: 60vw;
    /* 화면 너비에 따라 높이를 조정 */
    background-image: url('/public/images/mainBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

section {
    padding-block: var(--wep-sec-pad);
    width: 100%;
}

.home h2 {

    margin-bottom: var(--wep-tit-pad);
    text-align: left;
    margin-left: 15vw;
}

.memberProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.memberProfile h2 {
    align-self: flex-start;
}

.profileList {
    display: flex;
    gap: 20px;
}

.profileCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    justify-content: center;
}

.profileImg {
    width: 100%;
    height: 23vh;
    background-image: url('/public/images/profileFrame.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profileImg img {
    width: 90%;
    object-fit: cover;
}

.sticker {
    position: absolute;
}

.DOA .sticker {
    width: 40px;
    height: 40px;
    left: 2%;
    top: -5%;
}

.ARIN .sticker {
    width: auto;
    height: 70px;
    bottom: -20%;
    right: -10%;
}

.SEI .sticker {
    width: 30px;
    height: auto;
    bottom: -8%;
    right: -5%;
}

.LUHA .sticker {
    width: 45px;
    height: auto;
    top: -5%;
    left: -8%;
}

.profileName {
    color: var(--font-color-3);
    padding-left: 10px;
}

.schedule {
    position: relative;
}

.scheduleTitle {
    position: relative;

}

.scheduleBg {
    width: 100%;
    height: 100%;
    background-image: url('/public/images/scheduleBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.mainOfficialSwiper {
    width: 1024px;
}

/* Swiper에서 활성화된(가운데) 슬라이드에 효과 app.css에서 진행 */


.mainOfficialCard {
    background: #222;
    border-radius: 32px;
    overflow: hidden;
    /* box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2); */
    text-align: center;
    color: #fff;
    position: relative;
}

.mainOfficialImg {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.mainOfficialText {
    padding: 24px 16px 32px 16px;
}

.mainOfficialTitle {
    text-align: left;
    margin-bottom: 32px;
}

.blurOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    /* background: rgba(0, 0, 0, 0.25); */
    z-index: 2;
    pointer-events: none;
}

@media (max-width: 1620px) {
    .home h2 {
        margin-left: 8vw;
    }
}

@media (max-width: 1440px) {
    .home h2 {
        margin-left: 4vw;
    }
}

@media (max-width: 1024px) {

    /*     .mainBanner {
        height: 100vw;
        width: 100%;
        background-image: url('/public/images/mainbanner_tap.png');
        background-size: contain;
        background-position: top center;
    } */
    .mainBanner {
        height: 100vw;
        min-height: 220px;
        max-height: 1500px;
        background-image: url('/public/images/mainbanner_tap.png');
        background-size: cover;
        background-position: top center;
    }


    .home h2 {
        margin-left: 3vw;
    }

    .memberProfile {
        padding: 100px 0;
    }

    .profileImg {
        height: 17vh;
    }

    .profileImg img {
        width: 85%;
    }

    .ARIN .sticker {
        width: auto;
        height: 50px;
        bottom: -10%;
        right: -10%;
    }

    .profileCard {
        gap: 15px;
    }

}

@media (max-width:950px) {
    .profileImg {
        height: 14vh;
    }
}

@media (max-width:900px) and(min-width:830px) {
    .profileImg {
        height: 15vh;
    }
}

@media (max-width:768px) {


    .memberProfile {
        padding: 50px 0;
    }

    .profileImg {
        height: 17vh;
    }
}

@media (max-width:767px) {
    .mainBanner {
        height: 100vw;
        min-height: 220px;
        max-height: 1500px;
        background-image: url('/public/images/mainvisual_mo.png');
    }

    .memberProfile {
        padding: 50px 0;
    }

    .profileList {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        /* gap 제거 */
    }

    .profileCard {
        width: calc(50% - 8px);
        /* 카드 사이에 16px 간격을 주고 싶으면 -8px */
        min-width: 140px;
        max-width: 100%;
        flex: none;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .profileImg {
        height: 20vh;
    }
        .home h2 {
        margin-left: 4vw;
    }
}

@media (max-width:600px) {
    .mainBanner {
        height: 100vh;
        min-height: 500px;
        width: 100%;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
    }


    .profileCard {
        gap: 10px;
    }
}

@media (max-width:530px) {
    /*     .mainBanner {
        height: 80vh;
        width: 100%;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: contain;
    } */

    /*     .mainBanner {
        height: 50vw;
        min-height: 160px;
        max-height: 400px;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
        background-position: top center;
    } */

    .mainBanner {
        height: 100vh;
        min-height: 500px;
        width: 100%;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
    }


}

@media (max-width: 402px) {

    /*     .mainBanner {
        height: 95vh;
        width: 100%;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
    } */
    /*     .mainBanner {
        height: 40vw;
        min-height: 120px;
        max-height: 300px;
        background-image: url('/public/images/mainvisual_mo.png');
        background-size: cover;
        background-position: top center;
    } */

    .profileImg {
        height: 25vh;
    }
}