.mainBanner {
    width: 100%;
    height: 100vh;
    background-image: url('/public/images/mainBanner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mainContent {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

section {
    padding-block: var(--wep-sec-pad);
    width: 100%;
}

.home h2 {
    font-family: var(--title-font-family);
    font-size: 100px;
    color: var(--main-color);
    font-style: normal;
    font-weight: 400;
    margin-bottom: var(--wep-tit-pad);
    text-align: left;
    margin-left: 300px;
    /* line-height: normal; */
}

.memberProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.memberProfile h2 {
    align-self: flex-start;
}

.profileList {
    display: flex;
    gap: 20px;
}

.profileCard {
    width: 241px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: left;
    justify-content: center;
}

.profileImg {
    width: 241px;
    height: 241px;
    background-image: url('/public/images/profileFrame.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profileImg img {
    width: 215px;
    height: auto;
    object-fit: cover;
}

.sticker {
    position: absolute;
}

.DOA .sticker {
    width: 40px;
    height: 40px;
    left: -19px;
    top: -5px;
}

.ARIN .sticker {
    width: auto;
    height: 70px;
    bottom: -32px;
    right: -30px;
}

.SEI .sticker {
    width: 30px;
    height: auto;
    bottom: -13px;
    right: -10px;
}

.LUHA .sticker {
    width: 45px;
    height: auto;
    top: -13px;
    left: -15px;
}

.profileName {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
    color: var(--font-color-3);
    padding-left: 10px;
}

.schedule {
    position: relative;
}

.scheduleTitle {
    position: relative;

}

.scheduleBg {
    width: 100%;
    height: 100%;
    background-image: url('/public/images/scheduleBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.mainOfficialSwiper {
    width: 1024px;
}

/* Swiper에서 활성화된(가운데) 슬라이드에 효과 app.css에서 진행 */


.mainOfficialCard {
    background: #222;
    border-radius: 32px;
    overflow: hidden;
    /* box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2); */
    text-align: center;
    color: #fff;
    position: relative;
}

.mainOfficialImg {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.mainOfficialText {
    padding: 24px 16px 32px 16px;
}

.mainOfficialTitle {
    font-family: 'Dancing Script', cursive;
    color: #b13b5a;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 32px;
}

.blurOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    /* background: rgba(0, 0, 0, 0.25); */
    z-index: 2;
    pointer-events: none;
}

@media (max-width: 1024px) {
    .mainBanner {
        height: 100vh;
        background-image: url('/public/images/mainbanner_tap.png');
    }
}

@media (max-width:656px) {
    .mainBanner {
        height: 100vh;
        background-image: url('/public/images/mainvisual_mo.png');
    }
}