.levelGuideWrap {
  text-align: center;
}

.levelGuideSubtitle {
  font-size: 28px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}

.levelGuideSubtitle br {
  display: none;
}

.levelGrid {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
}

.levelCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 40px 15px;
  width: 300px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.levelCardTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.levelBadgeWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.levelBadgeImg {
  width: 100px;
  height: auto;
}

.levelName {
  font-family: var(--level-font-family);
  font-size: 30px;
  font-weight: bold;
  /* margin-bottom: 20px; */
  text-transform: capitalize;
}

.levelDescWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.levelDesc {
  color: var(--font-color-3);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.levelDetail {
  color: var(--font-color-7);
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  /* margin-top: 50px; */
}

.levelCardFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.levelCondition {
  background: var(--sub-color-yellow);
  border-radius: 10px;
  padding: 10px 0;
  width: 100%;
  color: var(--font-color-3);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.levelCondition_loopy {
  background: var(--sub-color-blue);
}

.levelCondition_popin {
  background: var(--sub-color-purple);

}

.levelEmojis {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.levelEmojiLabel {
  color: var(--font-color-3);
  font-size: 16px;
  font-weight: 500;
}

.levelEmojiList {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 80%;
}

.levelEmojiImg {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: #f0f0f0;
}

@media (max-width: 900px) {
  .levelGrid {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .levelCard {
    width: 90%;
    max-width: 340px;
  }
}

@media (max-width: 767px) {
  .levelCard {
    gap: 30px;
  }


  .levelGuideSubtitle {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  .levelGuideSubtitle br {
    display: block;
  }

  .levelCardTop {
    gap: 15px;
  }

  .levelBadgeImg {
    width: 50px;
  }

  .levelName {
    font-size: 24px;
  }

  .levelDesc {
    font-size: 18px;
    line-height: 1.4;
  }

  .levelDetail {
    display: none;
  }
}