/* my mood */
/* 프로필 상단 */

.myeMoodProfileTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    margin-bottom: 50px;
    gap: 20px;
}

.profileImgWrap {
    position: relative;
    width: 150px;
    height: 150px;
}

.myeMoodProfileImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.cameraBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    background: none;
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cameraBtn img {
    width: 100%;
    height: auto;
}

.profileNameRow {
    display: flex;
    align-items: center;
}

.profileBadge {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.profileBadge img {
    width: 35px;
    height: auto;
}

.profileNickname {
    font-size: 24px;
    font-weight: 600;
}

/* 정보 박스 */
.infoBoxWrap {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.sectionBorder {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    display: block;
}

.sectionBorderM {
    display: none;
}

.infoBox {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 30px;
    border-radius: 15px;
    background-image: url(/public/images/mypage/lineTop.svg),
        url(/public/images/mypage/lineBottom.svg),
        url(/public/images/mypage/sideLine.svg),
        url(/public/images/mypage/sideLine.svg);
    background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
    background-position: top center, bottom center, left center, right center;
    background-size: 100%, 100%, contain, contain;
    /* align-items: center; */
}

.infoBoxLogin {
    /* height: 325px; */
}

.infoBoxProfile {
    background-image: url(/public/images/mypage/lineTop.svg),
        url(/public/images/mypage/lineBottom.svg),
        url(/public/images/mypage/sideLineM3.svg),
        url(/public/images/mypage/sideLineM3.svg);
}

.infoTab {
    position: absolute;
    top: -22px;
    left: 24px;
    background: var(--point-color-blue);
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 500;
}

.infoRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color-3);
}

.infoRow> :last-child {
    width: 60%;
}

.infoLabel {
    font-weight: 600;
}

.infoValue {
    word-break: break-all;
}

.infoInput {
    padding: 10px 20px;
    border: 1px solid #C7E7FF;
    border-radius: 10px;
    outline: none;
    /* width: 320px; */
    background: #fff;
}

.emailInputWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #C7E7FF;
    border-radius: 10px;
    position: relative;
}

.emailInput {
    border: 0;
    background: 0;
    outline: none;
    /* padding: 10px 20px;
    border: 1px solid #C7E7FF;
    border-radius: 10px; */
}

.emailDomainList {
    position: absolute;
    top: 80%;
    right: -1px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    /* margin-top: 2px; */
    z-index: 10;
    width: 120px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    list-style: none;
    padding: 0;
}

.emailDomainItem {
    padding: 10px 12px;
    cursor: pointer;
    font-size: 16px;
}

.genderOptions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.emailSelectBtn {
    width: 30%;
    border: 0;
    background: 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: inherit;
}

input {
    color: inherit;
}

.birthInputWrap {
    display: flex;
    align-items: center;
    margin-left: 18px;
    border: 1px solid #C7E7FF;
    border-radius: 10px;
    background: #fff;
    justify-content: space-between;
    padding: 10px 20px;
}

.birthInput {
    width: 70px;
    border: 0;
    outline: none;
    background: 0;
    text-align: center;
}

.birthInput+span {
    margin: 0 8px;
    color: #888;
}

.birthSelectBtn {
    background: 0;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

/* 버튼 영역 */
.btnWrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

/* .saveBtn,
.editBtn {
    background: #4da3e6;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 14px 0;
    width: 220px;
    cursor: pointer;
    transition: background 0.2s;
}

.saveBtn:hover,
.editBtn:hover {
    background: #3689c9;
} */