.office {
    background-color: var(--font-color-1);
    color: #fff;
}

.mediaSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 150px 0;
}

.officeSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 150px 0;
}

.behindSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 50px;
    padding: 150px 0;
    overflow: hidden;
}

.mediaGrid {
    display: flex;
    gap: 20px;
    width: 100%;
}

.officeGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
    max-width: 1200px;
    /* 필요시 */
    margin: 0 auto;
}

.behindGrid {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
}


@media (max-width: 1024px) {
        .mediaSection,
    .officeSection,
    .behindSection {
        padding: 100px 0;
    }
        .behindSection {
        padding-bottom: 0;
    }

}



@media (max-width: 767px) {
    .mediaGrid {
        gap: 10px;
    }

    .photoSwiper {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 0 !important;
        box-sizing: border-box;
    }


    .mediaSection,
    .officeSection,
    .behindSection {
        padding: 60px 0;
    }

    .officeGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .behindSection {
        padding-bottom: 150px;
    }

    .photoCard {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        box-shadow: none;
        padding: 0;
    }


}

@media (max-width:656px) {
    .mediaCard {
        flex-direction: row;
    }

    .mediaGrid {
        flex-direction: column;
        gap: 20px;
    }

    .mediaSection,
    .officeSection,
    .behindSection {
        padding: 40px 0;
        gap: 30px;
    }

    .mediaSection {
        padding-top: 50px;
    }

    .behindSection {
        padding-bottom: 0;
    }

}

@media (max-width: 402px) {}



