.feedContain {
    background-color: #F9F9F9;
}

.feedLayout {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.writeButton {
    position: fixed;
    bottom: 9rem;
    right: 3.7rem;
    background: transparent;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    z-index: 100;
}

.writeButton:hover {
    transform: scale(1.07);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    transition: 0.2s ease-in-out;
}

.writeButton img {
    width: 55px;
    height: auto;
    object-fit: cover;
}

.popviewBtn {
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
}

.popView {
    width: 150px;
    height: 45px;
    display: flex;
    padding: 0 13px;
    justify-content: space-between;
    align-items: center;
    background: var(--point-color-blue);
    border-radius: 45px;
    color: #fff;
    gap: 5px;
    font-family: var(--main-font-family);
}

.popView img {
    width: 30px;
    height: 30px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-radius: 12px;
}

.paginationBtn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: none;
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    transition: background 0.2s, color 0.2s;
    font-family: var(--main-font-family);
    line-height: 1;
    padding: 0;

}

.paginationBtn[disabled] {
    opacity: 0.3;
    cursor: default;
}

.paginationBtnActive {
    background: #4a98db;
    color: #fff;
    font-weight: 600;
}

/* 숫자 버튼끼리 간격 15px */
.paginationBtn+.paginationBtn {
    margin-left: 20px;
}

.paginationBtn img {}

/* .paginationArrow + .paginationBtn {
  margin-left: 45px;
}

.paginationBtn:last-of-type {
  margin-right: 45px;
} */

.feed {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 50px;
}