.popularBanner {
  width: 100%;
  height: 570px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.popularTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 50px;
}

.popularTitle img {
  width: 48px;
  height: 43px;
}


/* 공통 카드 */
.post_card_wrapper {
  padding-top: 0;
}

.post_card {
  /* background: #fff; */
  border-radius: 12px;
  padding: 20px;
  /* border: 3px solid var(--font-color-3); */
  font-family: 'Pretendard', sans-serif;
  line-height: 1.5;
}

.post_card.artist {
  background-color: #f7faff;
}

.post_card.fan {
  background-color: #fff9fb;
}

.profile_row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.profile_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  background: #ddd;
}

.profile_row .info {
  flex: 1;
}

.profile_row strong {
  display: block;
  /* font-size: 16px;
  font-weight: 600; */
  color: #111;
}



.artist_badge {
  background: #2a7be4;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 6px;
  margin-left: auto;
}

.body_wrapper {
  cursor: pointer;
}

.desc {
  font-size: 18px;
  color: var(--font-color-3);
  margin-bottom: 2px;
  white-space: pre-line;
}

.hashtags {
  color: var(--point-color-blue);
  /* font-weight: 500; */
  font-size: 16px;
  margin-bottom: 12px;
}

.tag {
  margin-right: 6px;
}

.media {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}


.media img,
.media video {
  width: calc(50% - 4px);
  border-radius: 8px;
  object-fit: cover;
}

.meta_row {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

.meta_row button {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.meta_row button:hover {
  color: #e5397e;
}

.meta_row button img {
  width: 30px;
  height: 30px;
}



.profile_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}


.badge_fan {
  color: #ff9f00;
  font-size: 14px;
}

.badge_img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.media {
  width: 100%;
  position: relative;
}

.single {
  display: block;

  .media_item_wrapper {
    width: 100%;

  }

  .media_item {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.multi {
  display: flex;
  overflow: hidden;
  gap: 8px;

  .media_item_wrapper {
    flex: 1;

  }

  .media_item {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
}

.media_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storyContainer {
  display: flex;
  height: 250px;
  /* border: 1px solid #ddd; */
}

.storyCard {
  flex: 1;
}

.storyCard .profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.storyImage {
  width: 50%;
  height: auto;
}

.popularCard {
  width: 100%;
  max-width: 280px;
  min-height: 140px;
  background: #f5f6fa;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  border: 2px solid var(--font-color-3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popularCardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.popularCardHeader img {}

.popularCardAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.popularCardName {
  font-weight: 600;
}

.popularCardBadge {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.popularCardDate {
  font-size: 14px;
  color: #222;
}

.popularCardDesc {
  margin-top: 8px;
}























/* ================= */

.storyContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  /* position: relative; */

}

.aBannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 65vh;
}

.banner {
  width: 100%;
  flex: 1;
  background-image: url(../../public/images/artist/top_banner.jpg);
  background-size: cover;
  background-position: center;
}

.banner_mini {
  background-image: url(../../public/images/artist/top_banner_mini.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40px;
}

.storyContent {
  display: flex;
  width: 100%;
  z-index: 10;
  height: 40vh;
  padding-top: 3%;
  justify-content: space-between;
  gap: 10px;

}

.storyCard {
  /*   flex: 1 1 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  /* 같은 크기 */
  min-width: 0;
}

.stroyTop {
  /*  flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.storyCard .profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -13%;
  z-index: 11;
}

.storyImage {
  width: 100%;
  aspect-ratio: 3 / 2.5;
  /* 가로:세로 비율을 3:1로 고정 */
  object-fit: cover;
  border-radius: 10px;
  display: block;
  height: auto;
}

/* 아래 섹션 */
.infoTop {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.a_badge_img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.a_media {
  display: flex;
  gap: 8px;
  padding-top: 20px;
}

.a_media img,
.a_media video {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}


.a_media_item_wrapper {
  position: relative;
}

.a_media_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}




.a_profile_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 20px;
}

.profile_bubble_layout {
  display: flex;
  align-items: flex-start;
  /* gap: 10px; */
  margin-bottom: 12px;
  background-color: #F9F9F9;
}

/* 말풍선 상자 */
.bubble_box {
   position: relative;
  background: #f5f5f5;
  padding: 30px 30px 20px 30px;
  border-radius: 14px;
  max-width: 100%;
  cursor: pointer;
  width: 100%;
  display: flex;           /* ← 들여쓰기 맞추기 */
  flex-direction: column;  /* ← 들여쓰기 맞추기 */
  gap: 8px;  
  border: 3px solid #333;   
  z-index: 1;            
}
.bubble_tail {
 flex-shrink: 0;
  align-self: flex-start;   /* 위에서부터 정렬 */
  margin-top: 18px; 
  z-index: 2; 
  
}

.a_meta_row {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 12px;
  width: 100%;
}

.a_meta_row button {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}


.a_meta_row button img {
  width: 30px;
  height: 30px;
}
