/* 인기게시물 배경 */
.popularBannerContainer {
  width: 100%;
  height: 570px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.popularBanner {
  width: 100%;
  height: 100%;
  background-image: url(../../public/images/fan/fanBanner.png);
  background-size: cover;
  background-position: center;
}

.popularBanner_mini {
  width: 100%;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-image: url(../../public/images/fan/fanBanner_mini.png);
}

.popularPostContainer {
  height: 570px;
}

.popularTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 50px;
  /* z-index: 10; */
}



.popularTitle h2 {
  z-index: 2;
}

.popularTitle img {
  width: 48px;
  height: 43px;
  z-index: 2;
}


/* 공통 카드 */
.post_card_wrapper {
  padding-top: 0;
}

.post_card {
  /* background: #fff; */
  border-radius: 12px;
  padding: 20px;
  /* border: 3px solid var(--font-color-3); */
  font-family: 'Pretendard', sans-serif;
  line-height: 1.5;
}

/* .post_card.artist {
  background-color: #f7faff;
}
 */

.post_card.fan {
  background-color: #f9f9f9;
  border: 3px solid var(--font-color-3);
}

.profile_row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.profile_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  background: #ddd;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.profile_row strong {
  display: block;
  /* font-size: 16px;
  font-weight: 600; */
  color: #111;
}



.artist_badge {
  background: #2a7be4;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 6px;
  margin-left: auto;
}

.body_wrapper {
  cursor: pointer;
}

.desc {
  font-size: 18px;
  color: var(--font-color-3);
  margin-bottom: 2px;
  white-space: pre-line;
}

.hashtags {
  color: var(--point-color-blue);
  /* font-weight: 500; */
  font-size: 16px;
  margin-bottom: 12px;
}

.tag {
  margin-right: 6px;
}

.media {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}


.media img,
.media video {
  width: calc(50% - 4px);
  border-radius: 8px;
  object-fit: cover;
}

.meta_row {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
  color: #666;
  margin-top: 8px;
}

.meta_row button {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.meta_row button:hover {
  color: #e5397e;
}

.meta_row button img {
  width: 30px;
  height: 30px;
}



.profile_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}


.badge_fan {
  color: #ff9f00;
  font-size: 14px;
}

.badge_img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.media {
  width: 100%;
  position: relative;
}

.single {
  display: block;

  .media_item_wrapper {
    width: 100%;

  }

  .media_item {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.multi {
  display: flex;
  overflow: hidden;
  gap: 8px;

  .media_item_wrapper {
    flex: 1;

  }

  .media_item {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
}

.media_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.storyCard {
  flex: 1;
}

.storyCard .profileImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.storyImage {
  width: 50%;
  height: auto;
  z-index: 1;
}



.popularCardAll {
  width: 100%;
  display: flex;
  justify-content: center;
}

.popularCard {
  width: 100%;
  min-width: 120px;
  max-width: 320px;
  min-height: 140px;
  background: #f5f6fa;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  border: 2px solid var(--font-color-3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
  transition: width 0.2s;
}

.popularCardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* .popularCardHeader img {} */

.popularCardAvatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.popularCardName {
  font-weight: 600;
}

.popularCardBadge {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.popularCardDate {
  font-size: 14px;
  color: #222;
}

.popularCardDesc {
  margin-top: 8px;
}










/* 인기게시물 스와이퍼 */
/* 
.popularSwiperCon {
  width: 100%;
  max-width: 900px;
  min-width: 345px;
  margin: 0 auto;
  position: relative;
  padding:  0 40px;
}

:global(.popularSwiper) {
  width: 860px;
  display: flex;
  margin: 0 auto;
}



:global(.popularSwiper .swiper-slide) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: clamp(120px, 28vw, 320px) !important;
}
 */
/* 
.popularSwiperCon button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prevBtn {
  background-image: url('/public/images/icon/page_le_on.png');
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;

}

.nextBtn {
  background-image: url('/public/images/icon/page_ri_on.png');
  background-size: cover;
  background-repeat: no-repeat;
  right: 0;
} */






















/* ================= */

.storyContainer {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #ddd; */
  /* position: relative; */
  height: 570px;
  position: relative;

}

.aBannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.banner {
  width: 100%;
  flex: 1;
  background-image: url(../../public/images/artist/top_banner.jpg);
  background-size: cover;
  background-position: center;
}

.banner_mini {
  background-image: url(../../public/images/artist/top_banner_mini.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40px;
}

.storyContent {
  display: flex;
  width: 100%;
  z-index: 10;
  padding-top: 200px;
  justify-content: space-between;
  gap: 10px;

}

.storyCard {
  /*   flex: 1 1 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  /* 같은 크기 */
  min-width: 0;

}

.stroyTop {
  /*  flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.storyCard .profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -13%;
  z-index: 1001;
}

.storyImage {
  width: 100%;
  aspect-ratio: 3 / 2.5;
  /* 가로:세로 비율을 3:1로 고정 */
  object-fit: cover;
  border-radius: 10px;
  display: block;
  height: auto;
  z-index: 1;

}

/* 아래 섹션 */
.infoTop {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;
}

.a_badge_img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}

.a_media {
  display: flex;
  gap: 8px;
  padding-top: 20px;
}

.a_media img,
.a_media video {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}


.a_media_item_wrapper {
  position: relative;
}

.a_media_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}




.a_profile_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 20px;
}


/* 말풍선 상자 */

/* PostCard.module.css 예시 */
.profile_bubble_layout {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 10px;
  margin-bottom: 12px;
  /* background-color: #F9F9F9; */
}

.bubble_tail {
  flex-shrink: 0;
  align-self: flex-start;
  position: absolute;
  left: 65px;
  /* bubble_box 왼쪽에 붙도록 조정 */
  top: 5px;
  /* bubble_box의 중간쯤에 맞추기 */
  z-index: 3;
  pointer-events: none;
  margin-top: 18px;
}

.bubble_box {
  position: relative;
  background: #f5f5f5;
  padding: 20px 20px 15px 20px;
  border-radius: 20px;
  max-width: 100%;
  cursor: pointer;
  width: 100%;
  display: flex;
  /* ← 들여쓰기 맞추기 */
  flex-direction: column;
  /* ← 들여쓰기 맞추기 */
  border: 2px solid #333;
  z-index: 2;
}

.a_meta_row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.a_meta_row button {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}




.like_icon {
  width: 30px;
  height: 30px;
}

.chat_icon {
  width: 30px;
  height: 30px;
}

.pop_icon {
  width: 32px;
  height: 32px;
}



/* 아티스트 */
.swiperNavWrap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.artistSwiperWrap {
  width: 100%;
}

.storySwiper {
  width: 100%;
}

.artistSwiperNav {
  display: flex;
  justify-content: flex-end;
  /* 오른쪽 정렬, 필요시 center로 변경 */
  gap: 8px;
  margin-bottom: 8px;
}

.swiperArea {
  flex: 1 1 0;
  min-width: 0;
  max-width: 1100px;
  min-width: 340px;
  padding: 0 10px;
  /* 원하는 최대 길이로 조정 */
  margin: 0 auto;
}





@media (min-width: 1024px) {
  .popularPostContent {
    width: 1024px;
    margin: 0 auto;
    position: relative;
    padding: 0 40px;
  }

}

@media (max-width: 1024px) {
    .popularPostContent {
    width: 100%;
    padding: 0 40px;
  }


  .popularBanner {
    background-image: url('/public/images/fan/fanBanner_t.png');
  }

  .popularBanner_mini {
    background-image: url('/public/images/fan/fanBanner_t_mini.png');
  }

  .banner {
    background-image: url(../../public/images/artist/top_banner_tap.jpg);
    background-size: cover;
    background-position: center;
  }

/*   .swiperArea {
    padding: 0 60px;
  } */
}

@media (max-width: 900px) {
  .storyContent {
    padding-left: 80px;
    padding-right: 80px;

  }

  /*   .popularCard {
    max-width: 220px;
    min-width: 100px;
  } */
}


@media (max-width: 767px) {
.swiperArea {
  padding: 0 5px;
}

  .popularBannerContainer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
  }
  .popularPostContainer{
    height: 400px;
  }
  .popularBanner {
    width: 100%;
    height: 100%;
    background-image: url(../../public/images/fan/fanBanner_t.png);
    background-size: cover;
    background-position: center;
  }



  .popularPostContent {
    width: 100%;
    padding: 0 23px;
  }
  .storyContainer {
    height: 400px;
  }

  .storyContent {
    padding-top: 110px;
  }

  .storyContent {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (max-width: 656px) {
/*   .popularPostContainer {
    height: 58vh;
  } */

  .popularPostContent {
    width: 100%;
  }


  .banner {
    background-image: url(../../public/images/artist/top_banner_mov.jpg);
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 402px) {
  .popularBanner {
    height: 350px;
    background-image: url('/public/images/fan/fanBanner_m.png');
  }

  .popularBanner_mini {
    background-image: url('/public/images/fan/fanBanner_m_mini.png');
  }

/*   .popularPostContainer {
    height: 55vh;
  } */

  .popularPostContent {
    width: 100%;
  }

}