.badge_img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}
.sticker_picker img{
    width: 80px;
    height: auto;
}
.emoji_preview{
    width: 200px;
    height: 130px;
}
.emoji_preview img{
    width: 100px;
    height: auto;
}