@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}

body {
  line-height: 1;
  color: var(--font-color-1);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* font */

@font-face {
  font-family: 'KNPSKkomi';
  src: url('../src/font/KNPSKkomi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* font family */
  --main-font-family: "Pretendard", sans-serif;
  --day--font-family: 'KNPSKkomi', sans-serif;
  --title-font-family: "Allura", cursive;
  --level-font-family: "Baloo 2", cursive;

  /* color */
  --main-color: #DB3155;

  --point-color-red: #AF0000;
  --point-color-blue: #419DDF;
  --point-color-yellow: #F8D37B;
  --point-color-purple: #B289FF;

  --bg-color-lightgray: #FEFEFE;
  --bg-color-chat: #F2F3F7;
  --bg-color-post: #F7F8FA;

  --sub-color-pink: #FFDAE2;
  --sub-color-apricot: #FCB2B0;
  --sub-color-yellow: #FDF7C8;
  --sub-color-blue: #C7E7FF;
  --sub-color-mint: #9FD6D7;
  --sub-color-purple: #E2C8FD;


  --font-color-darkgray: #6A6A6A;
  --font-color-light_gary: #E5E5E5;
  --font-color-gary: #C2C2C2;
  --font-color-7: #777777;
  --font-color-3: #333333;
  --font-color-1: #1F1F1F;



  /* margin */

  /* wep */
  --wep-sec-pad: 150px;
  --wep-tit-pad: 50px;
  --wep-footer-pad: 200px;
  /* tap */
  --tap-sec-pad: 100px;
  --tap-tit-pad: 50px;
  --tap-footer-pad: 150px;
  /* mobile */
  --movbile-sec-pad: 100px;
  --mobile-tit-pad: 30px;
  --mobile-footer-pad: 150px;
}

/* 공통 */
.day_span {
  font-size: 18px;
  font-weight: 400;
  color: var(--font-color-7);
}

.icon_num {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--main-font-family);
  padding: 0;
}

.pagenation_num {
  font-size: 20px;
  font-weight: 600;
}

/* 버튼 */

.btn_txt {
  font-size: 18px;
  font-weight: 400;
}

.btnBlue {
  border-radius: 5px;
  background: var(--point-color-blue);
  color: #fff;
  /* width: 220px; */
  padding: 12px 80px;
  /* line-height: 150%; */
  box-sizing: border-box;
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}

.btnBlueS {
  border-radius: 5px;
  background: var(--point-color-blue);
  color: #fff;
  padding: 12px 45px;
  /* line-height: 150%; */
  box-sizing: border-box;
  cursor: pointer;
}

.btnWhite {
  border-radius: 5px;
  border: 1px solid var(--font-color-7);
  background: #fff;
  color: var(--font-color-7);
  font-size: 16px;
  font-weight: 600;
  width: 80px;
  padding-block: 10px;
}





.h3_tit {
  font-size: 40px;
  font-weight: 700;
  line-height: 150%;
}

/* 전체 카드 안 큰 내용 */
.card_p {
  font-size: 20px;
  font-weight: 500;
  line-height: 33;
}

/* main */

.main_card_h2 {
  font-size: 28px;
  font-weight: 600;
}

.main_card_p {
  font-size: 24px;
  font-weight: 600;
}

/* kkomi */

.kkomi_day {
  font-family: var(--day--font-family);
  font-size: 24px;
}

.kkomi_sced {
  font-family: var(--day--font-family);
  font-size: 18px;
}

.kkomi_num {
  font-family: var(--day--font-family);
  font-size: 16px;
}


/* allura */
.allura_h2 {
  font-family: var(--title-font-family);
  font-size: 100px;
  color: var(--main-color);
}


/* 아티스트 */
.artist_h1 {
  font-size: 40px;
  font-weight: 700;
}

.artist_top {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.card_name {
  font-size: 23px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card_p {
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
}

.card_p2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
}

/* 커뮤니티 */
.fan_top_name {
  font-size: 20px;
  font-weight: 600;
}

.fan_top_day {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-darkgray);
}

.fan_top_p {
  font-size: 19px;
  font-weight: 500;
  line-height: 26px;
}

/* 팝업 */
.pop_name {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.pop_icon_num {
  font-size: 16px;
  font-weight: 400;
}

.pop_p {
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
}

.pop_chat_h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
}

.pop_chat_time {
  font-size: 12px;
  font-weight: 300;
}

.pop_chat_p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.pop_chat_icon {
  font-size: 12px;
  font-weight: 500;
}

.pop_chat_span {
  font-size: 14px;
  font-weight: 500;
}

.pop_chat_uder {
  font-size: 13px;
  font-weight: 500;
}

.pop_chat_send {
  font-size: 16px;
  font-weight: 400;
}

/* 글 작성 */
.user_txt_h1 {
  font-size: 28px;
  font-weight: 700;
}

.user_txt_p_tag {
  font-size: 18px;
  font-weight: 400;
}

.user_txt_img {
  font-size: 16px;
  font-weight: 600;
}

/*오피스 */
.office_h1_tit {
  font-size: 32px;
  font-weight: 600;
  line-height: 43px;
}

.offic_h2 {
  font-size: 28px;
  font-weight: 700;

}

/* .offic_h3 {
  font-size: 18px;
  font-weight: 600;
}
 */
.offic_h3 {
  font-size: 20px;
  font-weight: 600;
}

.offic_h4 {
  font-size: 26px;
  font-weight: 600;
}

.offic_p {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}

.officeBtn {
  font-size: 17px;
  font-weight: 600;
}



/*오피스 상세 */
.office_h1 {
  font-size: 40px;
  font-weight: 700;
  font-weight: 60px;
}

.offic_detail_p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.office_h3_tit {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.office_tag {
  font-size: 18px;
  font-weight: 400;
}

/* 회원가입  */
.join_p {
  font-size: 20px;
  font-weight: 400;
}

/* 공통 레이아웃 */
.mainOfficialSwiper .swiper-wrapper {
  height: 350px;
}

.mainOfficialSwiper .swiper-slide {
  transition: transform 0.3s, opacity 0.3s;
  /* opacity: 0.5; */
  /* width: 400px !important; */
}
.swiper-3d .swiper-slide-shadow{
  background: 0 !important;
}
.mainOfficialSwiper .swiper-slide.swiper-slide-active {
  /* opacity: 1; */
  transform: scale(1);
  z-index: 2;
}

.mainOfficialSwiper .swiper-slide.swiper-slide-next,
.mainOfficialSwiper .swiper-slide.swiper-slide-prev {
  /* opacity: 0.8; */
  transform: scale(0.9);
  z-index: 1;
}

.container {
  width: 100%;
  font-family: var(--main-font-family);
  position: relative;
}

main {
  overflow: hidden;
}

.all_p_t {
  padding-top: 180px;
}

header.inner,
footer .inner,
.tabBar.inner {
  padding-bottom: 0;
}


.home main {
  padding-top: 0;
}

.official main {
  background: var(--font-color-1);
}

.swiperPopular .swiper-wrapper {
  /* width: 1024px; */
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
  padding-bottom: var(--wep-footer-pad);
}

.con {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

#chatbase-bubble-button {
  background-image: url(/public/images/chatbot.png) !important;
  background-size: cover !important;
  border-radius: 0% !important;
  background-color: transparent !important;
  bottom: 4rem !important;
  right: 3.7rem !important;
  z-index: 999 !important;
}

#chatbase-bubble-button img {
  border-radius: 0 !important;
  display: none !important;
}

#chatbase-message-bubbles {
  display: none !important;
}

.react-calendar__navigation {
  display: none !important;
}

/* 아티스트 */


:global(.swiper-slide) {
  overflow: visible !important;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.artist-swiper-prev,
.artist-swiper-next {
  position: absolute;
  z-index: 10;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  opacity: 0.85;
  background: transparent;
}

.artist-swiper-prev {
  left: 30px;
  background-image: url('/public/images/icon/page_le_on.png');
  background-size: contain;
}

.artist-swiper-next {
  right: 30px;
  background-image: url('/public/images/icon/page_ri_on.png');
  background-size: contain;
}

.artist-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  gap: 6px;
}

.artist-swiper-pagination .swiper-pagination-bullet {
  background: #ccc !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}

.artist-swiper-pagination .swiper-pagination-bullet-active {
  background: var(--point-color-yellow) !important;
}

/* 인기 게시물 */
.popular-swiper-prev,
.popular-swiper-next {
  position: absolute;
  z-index: 10;
  width: 36px;
  height: 36px;
  color: #222;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.85;
  background: transparent;
}

.popular-swiper-prev {
  left: -20px;
  background-image: url('/public/images/icon/page_le_on.png');
  background-size: contain;
}

.popular-swiper-next {
  right: -20px;
  background-image: url('/public/images/icon/page_ri_on.png');
  background-size: contain;
}

/* .popular-swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  z-index: 10;
  display: none;
}
 */


@media (max-width: 1024px) {


  .allura_h2 {
    font-size: 80px;
  }

  .main_card_p {
    font-size: 20px;
  }

  .inner {
    max-width: 100%;
    padding-bottom: var(--wep-sec-pad);
  }

  .mainOfficialSwiper .swiper-wrapper {
    height: 250px;
  }


  .popular-swiper-prev {
    left: 10px;
    background-image: url('/public/images/icon/page_le_on.png');
    background-size: contain;
  }

  .popular-swiper-next {
    right: 10px;
    background-image: url('/public/images/icon/page_ri_on.png');
    background-size: contain;
  }


}

@media screen and (max-width: 820px) {
  .btnBlueS {
    padding: 8px 30px;
    font-size: 14px;
  }

}

@media (min-width: 768px) {
  /*   .popular-swiper-pagination {
    display: none !important;
  } */
}

.popular-swiper-pagination {

  display: none;
}

/* 반응형 레이아웃 */
@media (max-width: 768px) {

  /*   .artist-swiper-prev,
  .artist-swiper-next {
    top: 65%;
    transform: translateY(-50%);

  } */

  .artist-swiper-prev {
    left: 30px;
  }

  .artist-swiper-next {
    right: 30px;
  }




  .inner {
    padding: 0 20px;
    padding-bottom: var(--wep-footer-pad);
  }

  .con {
    padding: 0 20px;
  }

  .main_card_p {
    font-size: 18px;
  }


  .pop_name {
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
  }

  .pop_p {
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
  }

  .pop_chat_p {
    font-size: 16px;
  }

  .pop_chat_span {
    font-size: 13px;
  }

  .pop_chat_uder {
    font-size: 12px;
  }

  .pop_chat_send {
    font-size: 14px;
    font-weight: 400;
  }

  .office_h3_tit {
    font-size: 28px;
    line-height: normal;
  }

  /*오피스 상세 */
  .offic_detail_p {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
  }

  .office_tag {
    font-size: 16px;
  }

  .office_h1_tit {
    font-size: 28px;
  }

  .offic_h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }

  .offic_h4 {
    font-size: 24px;
    font-weight: 600;
  }

  .officeBtn {
    font-size: 15px;
    font-weight: 400;
  }

  .offic_h2 {
    font-size: 28px;
    font-weight: 600;
  }

  .allura_h2 {
    font-size: 65px;
  }

}

@media (max-width: 767px) {
  .h3_tit {
    font-size: 24px;
    font-weight: 700;
  }

  .join_p {
    font-size: 16px;
  }

  .inner {
    padding: 0 20px;
  }

  .artist_h1 {
    font-size: 24px;
    font-weight: 700;
  }

  .popular-swiper-prev,
  .popular-swiper-next {
    display: none !important;
  }

  .all_p_t {
    padding-top: 100px;

  }

  .popular-swiper-pagination {
    min-height: 24px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;
    position: absolute;
    left: 50% !important;
    bottom: -40px !important;
    transform: translateX(-50%);
  }

  .popular-swiper-pagination .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    background: #222 !important;
    opacity: 1 !important;
    margin: 0 4px !important;
  }

  /* .popular-swiper-pagination .swiper-pagination-bullet {
  background: #ccc !important;
  opacity: 1 !important;
}*/


  .popular-swiper-pagination .swiper-pagination-bullet-active {
    background: var(--point-color-yellow) !important;
  }


  /* 아티스트 */
  .artist_top {
    font-size: 21px;
    line-height: 33px;
    font-weight: 500;
  }



  #chatbase-bubble-button {
    bottom: 120px !important;
    right: 30px !important;
  }




  .popular-swiper-prev {
    left: 2px;
    background-image: url('/public/images/icon/page_le_on.png');
    background-size: contain;
  }

  .popular-swiper-next {
    right: 2px;
    background-image: url('/public/images/icon/page_ri_on.png');
    background-size: contain;
  }


  .all_p_t {
    padding-top: 150px;

  }

  .mainOfficialSwiper .swiper-wrapper {
    height: 350px;
  }
}

@media (max-width:530px) {


  .inner {
    padding-bottom: var(--wep-sec-pad);
  }

  .office_tag {
    font-size: 15px;
  }

  .office_h3_tit {
    font-size: 28px;
    line-height: 34px;
  }

  .office_h1_tit {
    font-size: 20px;
    line-height: 30px;
  }

  .offic_h4 {
    font-size: 20px;
    font-weight: 600;
  }

  .officeBtn {
    font-size: 14px;
    font-weight: 400;
  }

  .offic_h2 {
    font-size: 24px;
    font-weight: 600;
  }

  /*   .allura_h2 {
    font-size: 60px;
  } */

}


@media (max-width:450px) {
  .btnWhite {
    width: 70px;
    padding-block: 8px;
    font-size: 14px;
  }

  .btnBlue {
    /* width: 175px; */
    padding: 10px 60px;
    font-size: 16px;
  }

  .layout header {
    font-size: 1rem;
    white-space: nowrap;
    height: 46px;
  }



  .kkomi_day {
    font-size: 14px;
  }

  .kkomi_sced {
    font-size: 12px;
  }

  .kkomi_num {
    font-size: 10px;
  }



  .card_p {
    font-size: 16px;
    line-height: 25px;
  }

  .card_p2 {
    font-size: 16px;
    line-height: 25px;
  }

  .day_span {
    font-size: 14px;
  }

  .icon_num {
    font-size: 16px;
  }

  .pagenation_num {
    font-size: 16px;
  }

  .btn_txt {
    font-size: 14px;
  }

  /* 메인 */
  .main_card_h2 {
    font-size: 20px;
  }




  .card_name {
    font-size: 18px;
    line-height: 24px;
  }

  /* 커뮤니티 */
  .fan_top_name {
    font-size: 16px;
  }

  .fan_top_day {
    font-size: 10px;
  }

  .fan_top_p {
    font-size: 14px;
    line-height: 20px;
  }

  /* 팝업 */


  .pop_name {
    font-size: 28px;
    font-weight: 600;
    line-height: 24px;
  }

  .pop_icon_num {
    font-size: 12px;
  }

  .pop_chat_h1 {
    font-size: 14px;
    font-weight: 600;
  }

  .pop_chat_p {
    font-size: 16px;
  }

  .pop_chat_icon {
    font-weight: 400;
  }

  /* 글 작성 */
  .user_txt_h1 {
    font-size: 20px;
  }

  .user_txt_p_tag {
    font-size: 16px;
  }

  .user_txt_img {
    font-size: 14px;
  }


  /*오피스 */




  .offic_p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }


  .offic_h4 {
    font-weight: 500;
  }

  /*오피스 상세 */
  .offic_detail_p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
  }

  @media (max-width:420px) {
    .office_tag {
      font-size: 15px;
    }

    .office_h1_tit {
      font-size: 18px;
      line-height: 30px;
    }
  }


}

@media (max-width: 402px) {

  .offic_h2 {
    font-size: 22px;
  }

  .offic_h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }

  .offic_p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }

  .offic_h4 {
    font-size: 18px;
  }

  .officeBtn {
    font-size: 13px;
    font-weight: 400;
  }

}

@media (max-width: 375px) {
  .mainOfficialSwiper .swiper-wrapper {
    height: 300px;
  }
}

/* 오피스 페이지 네이션 */

.photoSwiper .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: #d9d9d9;
  opacity: 1;
  margin: 0 10px;
  border-radius: 50%;
  z-index: 10000;
  margin-top: 20px;
  border: 0;
}

.photoSwiper .swiper-pagination-bullet-active {
  background: #53a8ea;
  width: 20px;
  border-radius: 12px;
  border: 0;
  z-index: 10000;
}