/* 공통 레이아웃 */
*{
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.layout header {
  border-bottom: 1px solid #eee;
  background-color: #5C7AEA;
  font-size: 1.1rem;
  height: 56px;
}

.layout main {
  flex: 1;

}

.layout footer {
  text-align: center;
  padding: 20px 0;
  color: #999;
  font-size: 14px;
}



/* 반응형 레이아웃 */
@media (max-width: 768px) {
  .inner {
    padding: 0 16px;
  }
}

@media (max-width:450px) {
  .layout header {
    font-size: 1rem;
    white-space: nowrap;
    height: 46px;
  }
}